<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Add new user</title>
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>

        <form method="post" action="/add_user">
            <div class="form-group">


                <label>Фамилия и Имя</label>
                <input class="form-control" type="text" name="full_name" required>

                <label>Email</label>
                <input class="form-control" type="email" name="email" required>

                <label>Пароль</label>
                <input class="form-control" type="text" name="password" required>

                <label>Любимые жанры книг (указывать через ;)</label>
                <input class="form-control" type="text" name="f_genres">

                <label>Любимые писатели (указывать через ;)</label>
                <input class="form-control" type="text" name="f_authors">


            </div>
            <button type="submit" class="btn btn-success">Add User</button>
        </form>
    </div>
</body>
</html>