<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Booksharing</title>
</head>
<body>
    <h1> Book Sharing </h1>
    <span class="badge badge-primary">Sing in</span>
    <h3>Санкт-Петербург <span class="badge badge-secondary">community</span></h3>
    <div class="alert alert-primary" role="alert">
  We are happy that you use our site of book exchange <a href="#" class="alert-link">That's awesome</a>. Give it a click if you like.
</div>

<div class="container">
    <div class="text-center">
          <div>Введите название книги, которую хотите найти</div>
          <form class="form">
          <div class="input-group mb-3">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </div>
          </div>
          </form>
    </div>
</div>
    <img src="https://www.incimages.com/uploaded_files/image/970x450/getty_598063032_349381.jpg" class="img-fluid" alt="Responsive image">
<div class = "starter-template">
    <h1> Hello, {{user}} </h1>
    <p class="lead"></p>
</div>
</body>
</html>