<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sing IN</title>
</head>

<body>

    <div class="container main-section">
        <div class="row">
            <div class="col-md-12 text-center user-login-header">
                <h1>Войти на личную страницу</h1>
                <p> Booksharing </p>
            </div>
        </div>
            <form method="post" action="/sing_in">
            <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 user-image-section">
                            <img src="http://nicesnippets.com/demo/businessman.png">
                        </div>
                <input type="text" class="form-control" name ="email" required>

                <input type="text" class="form-control" name="password" required>

            </div>
                <a type = "submit" class="btn btn-success" tabindex="-1"  aria-disabled="false">Login</a>
            </form>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <p> Не зарегистрированы? <a class="btn btn-outline-primary" href="/add_user">Создайте аккаунт</a></p>
    </div>

</body>
</html>